numpy==1.25.0
requests==2.25.1
flask==2.0.1
grpcio>=1.47.1
transformers==4.33.0
torch==2.0.1
nltk==3.6.2
fastapi==0.103.0
faiss-cpu==1.8.0
google==2.0.3
google-generativeai==0.8.1
symspellpy==6.7.8
fuzzywuzzy==0.18.0
python-levenshtein==0.25.1
dill==0.3.9